body{
    background-color: #eaeaea;
}
.container{
    width: 1000px;
    margin: auto;
    background-color: white;
}
.header{
    text-align: center;
    color: beige;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkgreen;
}
.colleft{
    height: 220px;
    width: 200px;
    border: 2px solid gray;
    float: left;
    margin-left: 10px;
}
.contentLeft{
    height: 210px;
    width: 190px;
    margin: 5px;
}
.colmiddle{
    height: 500px;
    width: 500px;
    border: 2px solid gray;
    float: left;
    margin-left: 35px;
    margin-right: 30px;
}
.contentMiddle{
    height:490px;
    width: 490px;
    margin: 5px;
}
.colright{
    height: 320px;
    width: 200px;
    border: 2px solid gray;
    float: right;
    margin-right: 10px;
}
.contentRight{
    height: 310px;
    width: 190px;
    margin: 5px;
}
.footer{
    text-align: center;
    color: white;
    padding: 2px;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.heading{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.headingText{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.linkText{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: darkgreen;
}
.linkText:hover{
    background-color: blue;
    color: white;
}
.linkNav{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: black;
}
.linkNav:hover{
    background-color: darkgreen;
    color: white;
}
